@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-image: url("./img/Layer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-background {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 116px;
    position: relative;
    transition: all 0.5s ease;
    fill: rgba(255, 255, 255, 0.6);
}

.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.nav-item:hover::before {
    background-color: #18CFAB;
}

.nav-item:hover {
    color: #18CFAB;
    fill: #18CFAB;
}

.header-title {
    display: flex;
    margin: 264px auto 130px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.header-first-line {
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.header-first-line span{
    color:#18CFAB
}

.header-second-line {
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin: 22px 0;
}

.header-third-line {
    width: 795px;
    height: 34px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.header-button {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;
}

.rectangle-white {
    width: 169px;
    height: 64px;
    background: #FFFFFF;
    position: relative;
    border-radius: 5px;
    margin: 0 26px;
}

.rectangle-blue, .rectangle-green {
    width: 169px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    border-radius: 5px;
    color: #FFFFFF;
    transition: all 0.5s ease;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.rectangle-green {
    background: #18CFAB;
}

.rectangle-blue {
    background: #00CBF6;
}

.button{
    border: none;
}

.hover-button:hover .rectangle-green {
    top: 0;
}

.hover-button:hover .rectangle-blue {
    top: 0;
}

.main-nav {
    display: flex;
    margin-top: 8px;
}

.main-nav-item {
    width: 25%;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.dark {
    background: #1C2A33;
    color: #18CFAB;
}

.dark p{
    margin-bottom: 12px;
}

.green {
    background: #18CFAB;
    color: #FFFFFF;
}

.section-2 {
    margin: 83px 0 91px;
}

.section-title {
    text-align: center;
    margin-bottom: 101px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 65px;
    right: calc(50% - 25px);
    width: 80px;
    height: 1px;
    background: #18CFAB;
}

.section-title:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: #18CFAB;
    top: 68px;
    left:calc(50% - 40px);
}

.nav-section-2 {
    display: flex;
    list-style-type: none;
}

.nav-section-2-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 2px solid #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    transition: all 0.5s ease;
}

.nav-section-2-item:hover {
    border: 2px solid #18CFAB;
}

.section-text {
    display: flex;
    gap: 15px;
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.5px;
    line-height: 24px;
    color: #777777;
}

.section-3 {
    background: url("img/Layer 21.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 476px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.section-3-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
    color: #18CFAB;
}

.section-3-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 60px;
    color: #D8D8D8;
}

.section-4 {
    background: #E9EDEF;
    padding: 95px 0;
}

.nav-section-4 {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 590px;
    height: 58px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    margin: 0 auto 71px;
}

.nav-section-4-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    transition: color 0.5s ease;
    position: relative;
    border: 2px solid transparent;
    white-space: nowrap;
}

.nav-section-4-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #DADADA;
}

.nav-section-4-item:hover {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.grid-container-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 211px;
    grid-auto-columns: 1fr;
    grid-gap: 1px;
}

.grid-item-4 {
    position: relative;
}

.popup-menu {
    z-index: 3;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #E9EDEF;
    border-top: 3px solid #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.circle{
    fill: #E9EDEF;
}

.svg-hover:hover .circle{
    fill: #1FDAB5;
}

.square{
    fill: #1FDAB5;
}
.svg-hover:hover .square{
    fill: white;
}

.first-text-grid {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}

.second-text-grid {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.grid-item-4:hover .popup-menu {
    opacity: 1;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-img-wrapper {
    height: 211px;
    display: flex;
    align-items: center;
}

.section-4-button {
    width: 169px;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #18CFAB;
    margin: 70px auto;
    border: none;
}

.section-5 {
    padding: 82px 0 130px 0;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 281px);
    gap: 35px;
}

.img {
    position: relative;
    width: 263px;
    height: 208px;
}

.price-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 70px;
    height: 68px;
    background: #203E38;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.photo-link:hover .price-dropdown {
    background: #18CFAB;
}

.price-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.price-amount {
    position: absolute;
    left: 16px;
    bottom: 12px;
    font-size: 20px;
    line-height: 20px;
}

.first-text-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 15px;
    height: 30px;
    transition: all 0.5s ease;
}

.photo-link:hover .first-text-item {
    color: #18CFAB;
    margin-left: 5px;
}

.second-text-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 15px;
    height: 30px;
}

.section-6 {
    background-image: url("./img/Layer 333.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.section-6 .section-title {
    color: #FFFFFF;
    margin-bottom: 0;
}

.svg-6 {
    margin-top: 100px;
}

.section-6-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin: 36px 0;
    color: #BBBBBB;
}

.first-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    color: #18CFAB;
}

.second-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;

    color: #BBBBBB;
}

.footer {
    height: 121px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.class-toggle {
    background: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
    position: relative;
}

.class-toggle::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: calc(50% - 27px);
    bottom: -14px;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 15px solid #18CFAB;
}

.lazy{
    display: inline-block;
    width: 400px;
    height: 70px;
    margin-top: 50px;
}

.round-item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(31,218,181,0.2);
}

.round {
    width: 143px;
    height: 142px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 12px rgba(31,218,181,0.2);
}

.item-6{
    padding: 20px;
}

.slick-arrow{
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}

.slick-arrow:after{
    content: " ";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 35%;
    transform: rotate(45deg);
}

.slick-prev:after{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    left: 40%;
}

.slick-prev{
    position: absolute;
    left: -35px;
    transition: background-color 0.5s ease;
}

.slick-arrow:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;
}

.slick-next{
    position: absolute;
    right: -35px;
    transition: background-color 0.5s ease;
}

.slick-next:after{
    border-right: 2px solid white;
    border-top: 2px solid white;
    right: 40%;
}

.selected {
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.selected-1 {
    transform: translateY(0);
    transition: all 0.5s ease;
}

.slider-container {
    margin: 0 auto;
    width: 600px;
    box-sizing: border-box;
}

.footer span{
    color: #18CFAB;
}

.nav-section-4-item.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}